{"openapi":"3.0.0","info":{"title":"Документация Ozon Performance API","version":"2.0","x-logo":{"url":"https://ir.ozone.ru/s3/helppartners/ozon-logo-for-api-referral.svg","backgroundColor":null,"altText":"Ozon logo"},"description":"\nВ документе описаны методы Ozon Performance API — интерфейса для работы с рекламным кабинетом для обмена\nинформацией между системой продавца и Ozon.\n\nПо вопросам работы с API, обращайтесь в поддержку через личный кабинет.\n"},"servers":[{"url":"https://api-performance.ozon.ru:443"}],"x-tagGroups":[{"name":"Общее описание","tags":["Intro","Token","OAuth-token","Limits","News"]},{"name":"Методы Performance API","tags":["Campaign","Statistics","Ad","Product","Search-Promo","Vendor"]}],"tags":[{"name":"Intro","x-displayName":"Введение","description":"Чтобы использовать API отчётов по рекламным кампаниям Ozon, получите `client_id` и `client_secret` в вашем личном кабинете: \n1. В личном кабинете перейдите на страницу [**Настройки → API-ключи**](https://seller.ozon.ru/app/settings/api-keys?currentTab=performanceApi). \n2. При необходимости создайте сервисный аккаунт: нажмите **Создать новый аккаунт**.\n3. Нажмите на название сервисного аккаунта.\n4. Нажмите **Добавить новый ключ**.\n\nДля использования API:\n1. [Получите авторизационный токен](#tag/Token) с помощью `client_id` и `client_secret` в сервисе авторизации.\n2. Выполните запросы с помощью авторизационного токена. Если срок действия токена истёк, получите новый.\n"},{"name":"Token","x-displayName":"Авторизация через API-ключ","description":"Для получения авторизационного токена отправьте запрос:\n\n```yaml\nPOST /api/client/token HTTP/1.1\nHost: https://api-performance.ozon.ru\nContent-Type: application/json\nAccept: application/json\n \n{\n    \"client_id\":\"XYZ@advertising.performance.ozon.ru\", \n    \"client_secret\":\"b1u5XXDQW3wEqQ7dG...ancMyuhQtMNBI\", \n    \"grant_type\":\"client_credentials\"\n}\n```\n\nСервис авторизации вернёт токен с указанием периода его действия в секундах:\n\n```yaml\n{\n    \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\",\n    \"expires_in\": 1800,\n    \"token_type\": \"Bearer\"\n}\n```\n"},{"name":"OAuth-token","x-displayName":"Авторизация через OAuth-токен","description":"<aside class=\"notice\">\nДоступно только продавцам из России.\n</aside>\n\nЧтобы получить OAuth-токен для доступа к Performance API, создайте [частное](https://docs.ozon.ru/api/applications/#section/Rabota-s-chastnym-prilozheniem)\nили [публичное](https://docs.ozon.ru/api/applications/#section/Rabota-s-publichnym-prilozheniem) приложение и выдайте ему\nдоступ к вашему личному кабинету. После этого вы получите OAuth-токен, который позволит работать с методами Performance API.\n\nИспользуйте OAuth-токен с методами Performance API согласно уровням доступа, которые вы назначили приложению.\n\nПример запроса:\n\n```curl\nPOST https://api-performance.ozon.ru/{эндпоинт метода Performance API}\nAuthorization: Bearer ACCESS_TOKEN\n```"},{"name":"Limits","x-displayName":"Лимиты на запросы","description":"Общий лимит на количество запросов в сутки — 100 000.\n\nЛимиты на выгрузки статистики проверяются в начале формирования отчёта. \nЛимиты действуют для отчётов из раздела [**Статистика**](#tag/Statistics).\n\nОдна рекламная кампания = одна выгрузка. \nЕсли в запросе несколько кампаний, это считается как несколько выгрузок.\n\nЛимит на количество выгрузок в сутки рассчитывается по формуле: количество активных кампаний × 240 — но не больше значения из таблицы ниже.\n\nЛимиты на выгрузки:\n\n| Лимит                                                        | Значение лимита |\n|--------------------------------------------------------------|-----------------|\n| Лимит на количество дней в выгрузке                          | 62              |\n| Лимит на количество кампаний в отчёте                        | 10              |\n| Лимит на количество одновременных выгрузок с аккаунта        | 1               |\n| Лимит на количество выгрузок за 24 часа с аккаунта           | 2000            |\n| Лимиты на количество одновременных выгрузок по организации   | 5               |\n| Лимит на количество выгрузок за 24 часа в рамках организации | 2000            |\n\n"},{"name":"News","x-displayName":"Обновления","description":"## 8 июня 2026\n\n| Метод                                                                                    | Изменение                                                                          |\n|------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)            | Обновили описание метода.                                                          |\n| [POST /api/client/statistics/products/sku](#operation/SearchPromoProductsSKUStatistics2) | Добавили метод для получения статистики по товарам для кампании с оплатой за клик. |\n\n## 2 июня 2026\n\n| Метод | Изменение                                                                                                                                                                      |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/{campaignId}/products](#operation/AddProducts) <br> [PUT /api/client/campaign/{campaignId}/products](#operation/UpdateProducts) | Добавили параметр `bids.topPosition` в запрос методов. |\n|[GET /api/client/campaign/{campaignId}/v2/products](#operation/GetProductsV2) | Добавили параметр `products.topPosition` в ответ метода. |\n| [GET /api/client/campaign/all_sku_promo/activate](#operation/ActivateAllSkuPromoCampaign)| Добавили параметр `selectedBid` в ответ метода.|\n| [GET /api/client/campaign/all_sku_promo/set_bid](#operation/SetAllSkuPromoCampaignBid2) | Добавили метод для установки ставки продвижения в Оплате за заказ. |\n\n## 22 мая 2026\n\n| Метод                                                                                                                                                                  | Изменение                                                                                                                                                                                                                           |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                      | Обновили описание метода. <br> В запросе метода: <ul><li> обновили описание параметра `productAutopilotStrategy`; </li><li> удалили параметр `ProductAdvPlacements`; </li><li> пометили устаревшим параметр `dailyBudget`. </li></ul> |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | В ответе методов: <ul><li> обновили описание параметров `productAutopilotStrategy` и `placement`; </li><li> удалили параметры `ProductAdvPlacements` и `advObjectType`; </li><li> пометили устаревшим параметр `dailyBudget`. </li></ul>       |\n| [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                                             | В запросе метода:  <ul><li> удалили параметр `ProductAdvPlacements`; </li><li> пометили устаревшим параметр `dailyBudget`. </li></ul>                                                                                               |\n| [POST /api/client/campaign/{campaignId}/products](#operation/AddProducts) <br> [PUT /api/client/campaign/{campaignId}/products](#operation/UpdateProducts)             | В запросе методов: <ul><li> добавили параметр `bids.targetCir`; </li><li> обновили описание параметра `bids.bid`. </li></ul>                                                                                                        |\n| [GET /api/client/campaign/{campaignId}/v2/products](#operation/GetProductsV2)                                                                                          | В ответе метода: <ul><li> добавили параметр `products.targetCir`; </li><li> обновили описание параметра `products.bid`. </li></ul>                                                                                                  |\n\n## 6 апреля 2026\n\n| Метод | Изменение                                                                                                                                                                      |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Изменили название раздела **Как получить API-ключ** на [**Авторизация через API-ключ**](#tag/Token).<br>Добавили раздел [**Авторизация через OAuth-токен**](#tag/OAuth-token). |\n\n## 19 марта 2026\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                              | Изменение                                                                 |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------|\n| [GET /api/client/campaign/all_sku_promo/activate](#operation/ActivateAllSkuPromoCampaign)<br>[GET /api/client/campaign/all_sku_promo/deactivate](#operation/DeactivateAllSkuPromoCampaign)<br>[GET /api/client/statistics/all_sku_promo/orders/generate](#operation/GenerateAllSkuPromoOrdersReport)<br>[GET /api/client/statistics/all_sku_promo/products/generate](#operation/GenerateAllSkuPromoProductsReport) | Добавили методы для работы с продвижением всех товаров в оплате за заказ. |\n| [POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)                                                                                                                                                                                                                 | Обновили названия методов.                                                |\n\n## 16 февраля 2026\n\n| Метод                                                                                                | Изменение                                                  |\n|------------------------------------------------------------------------------------------------------|------------------------------------------------------------|\n| [POST /api/client/statistics/phrases](#operation/ExternalStatistics_StatisticsPhrasesSubmitRequest2) | Добавили метод для получения отчёта по поисковым запросам. |\n\n## 20 января 2026\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | Изменение                                       |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------|\n| [POST /api/client/statistics/video](#operation/VideoCampaignsSubmitRequest)<br>[POST /api/client/statistics/attribution](#operation/AttributionSubmitRequest)<br>[GET /api/client/statistics/campaign/media](#operation/MediaCampaignList)<br>[GET /api/client/statistics/expense](#operation/GetCampaignExpense)<br>[GET /api/client/statistics/daily](#operation/GetCampaignDailyStats)<br>[GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)<br>[POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)<br>[POST /api/client/statistics](#operation/SubmitRequest) | Изменили содержание отчётов в описании методов. |\n\n## 15 января 2026\n\n| Метод                                                                                         | Изменение                                                                                                                               |\n|-----------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)| Обновили описание методов.                                                                                                              |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                | В запросе методов: <ul><li> пометили параметр `ProductAdvPlacements` как устаревший; <li>удалили параметр `autoIncreasePercent`.        |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) | Пометили параметр `ProductAdvPlacements` как устаревший в ответе метода.                                                                | \n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Удалили параметр `autoIncrease` из ответа методов.                                                                                      |\n|[POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) | Удалили значение `PLACEMENT_OVERTOP` параметра `placement` и значение `TAKEOVER` параметра `productAutopilotStrategy` в запросе метода. |\n\n## 18 ноября 2025\n\n| Метод                                                                                         | Изменение                                               |\n|-----------------------------------------------------------------------------------------------|---------------------------------------------------------|\n| [GET /api/client/products_with_bonuses](#operation/ExternalCampaign_ListProductsWithBonuses2) | Добавили метод для получения списка товаров с бонусами. |\n\n## 31 октября 2025\n\n| Метод                                                                                             | Изменение                 |\n|---------------------------------------------------------------------------------------------------|---------------------------|\n| [POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest) | Обновили описание метода. |\n\n## 29 октября 2025\n\n| Метод                                           | Изменение                 |\n|-------------------------------------------------|---------------------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList) | Обновили описание метода. |\n\n## 23 октября 2025\n\n| Метод                                                                                                                                                                | Изменение                                                                                     |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                 | Добавили значение `TOP_PROMOTION` в параметр `list.productAutopilotStrategy` в ответе метода. |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Добавили значение `TOP_PROMOTION` в параметр `productAutopilotStrategy` в ответе методов.     |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                    | Добавили значение `TOP_PROMOTION` в параметр `productAutopilotStrategy` в запросе метода.     |\n\n## 21 октября 2025\n\n| Метод                                                                                                                                                                | Изменение                                                                               |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                 | Параметр автоподнятия `list.autoIncrease` устаревает, отключим его с 29 октября 2025.   |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)<br>[PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)      | Параметр автоподнятия `autoIncreasePercent` устаревает, отключим его с 29 октября 2025. |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Параметр автоподнятия `autoIncrease` устаревает, отключим его с 29 октября 2025.        |\n\n## 13 октября 2025\n\n| Метод                                                                                                                                                                 | Изменение                                                                       |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                  | Добавили параметры `list.isAutocreated` и `list.autostopStatus` в ответ метода. |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)  | Добавили параметры `isAutocreated` и `autostopStatus` в ответ методов.          |\n\n## 2 октября 2025\n\n| Метод                                                                                                                                                                                                                   | Изменение                  |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------|\n| [POST /api/client/campaign/search_promo/carrots/enable](#operation/ExternalCampaign_BatchEnableCarrots4)<br>[POST /api/client/campaign/search_promo/carrots/disable](/#operation/ExternalCampaign_BatchDisableCarrots4) | Обновили описание методов. |\n\n## 2 сентября 2025\n\n| Метод                                                                                                                                                                                                                   | Изменение                                                                                                               |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/search_promo/carrots/enable](#operation/ExternalCampaign_BatchEnableCarrots4)<br>[POST /api/client/campaign/search_promo/carrots/disable](/#operation/ExternalCampaign_BatchDisableCarrots4) | Добавили методы для включения и отключения продвижения товара в акции «Морковск».                                       |\n| [POST /api/client/campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                                                                                                             | Добавили параметры `products.bidWithoutAdditive`, `products.carrotsAdditive` и `products.carrotsStatus` в ответ метода. |\n\n## 1 сентября 2025\n\n| Метод                                                                                                                                                                | Изменение                                                                                                                                                                                                                                    |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                    | Обновили описание параметров `placement` и `productAutopilotStrategy` в запросе метода.                                                                                                                                                      |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Обновили описание параметров `paymentType`, `advObjectType`, `placement` и `productAutopilotStrategy` в ответе методов.                                                                                                                      |\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget)                                                                                               | Обновили описание параметров `createCampaign.autopilotStrategy`, `createCampaign.placement` и `updateCampaign.autopilotStrategy` в запросе метода.                                                                                           |\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                 | Обновили описание параметра `advObjectType` в запросе метода.<br>Обновили описание параметров `list.advObjectType`, `list.placement` и `list.productAutopilotStrategy` в ответе метода.                                                      |\n| [GET /api/client/campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /api/client/statistics](#operation/SubmitRequest)                           | Обновили описание методов.                                                                                                                                                                                                                   |\n| [GET /api/client/limits/list](#operation/GetLimitsList)                                                                                                              | Обновили описание метода.<br>Обновили описание параметров `limits.objectType` и `limit.placement` в ответе метода.                                                                                                                           |\n| [POST /api/client/min/sku](#operation/ExternalCampaign_BidBySKU)                                                                                                     | Обновили описание параметра `paymentType` в запросе метода.                                                                                                                                                                                  |\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)                                                                                        | Изменили название метода.                                                                                                                                                                                                                    |\n| —                                                                                                                                                                    | Изменили название раздела **Трафареты и вывод в топ** на [**Оплата за клик**](#tag/Ad).<br>Изменили название раздела **Товары в Трафаретах и Выводе в топ** на [**Товары в Оплате за клик и Спецразмещении**](#tag/Product). |\n\n## 25 августа 2025\n\n| Метод                                                                                                                                                                | Изменение                                                                                                                                                                                                                                                     |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                    | Обновили описание метода. <br>В запросе метода: <ul><li>добавили значение `PLACEMENT_OVERTOP` в параметр `placement`;</li><li>добавили значение `TAKEOVER` в параметр `productAutopilotStrategy`;</li><li>добавили параметр `ProductAdvPlacements`.</li></ul> |\n| [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                                           | Добавили параметр `ProductAdvPlacements` в запрос метода.                                                                                                                                                                                                     |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | В ответе методов: <ul><li>добавили значение `PLACEMENT_OVERTOP` в параметр `placement`;</li><li>добавили значение `TAKEOVER` в параметр `productAutopilotStrategy`;</li><li>добавили параметр `ProductAdvPlacements`.</li></ul>                               |\n\n## 19 августа 2025\n\n| Метод                             | Изменение                                               |\n|-----------------------------------|---------------------------------------------------------|\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget) | Метод устаревает и будет отключён 1 сентября 2025 года. |\n\n## 24 июля 2025\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      | Изменение                                                                                                                                                                                                                                                                                                       |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                                                                                                                                                                                                                                                                                                                                                                          | В запросе метода: <ul><li>пометили устаревшим значение `PLACEMENT_TAKEOVER` в параметре `placement`;</li><li>удалили значение `TAKEOVER` в параметре `productAutopilotStrategy`;</li><li>обновили описание значения `TARGET_BIDS` в параметре `productAutopilotStrategy`.</li></ul>                             |\n| [POST /api/client/min/sku](#operation/ExternalCampaign_BidBySKU)                                                                                                                                                                                                                                                                                                                                                                                                                                                           | Обновили описание параметра `paymentType` в запросе метода.                                                                                                                                                                                                                                                     |\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | Обновили описание параметра `advObjectType` в запросе метода.<br>Обновили описание параметра `list.advObjectType` в ответе метода.<br>Добавили значение `PLACEMENT_OVERTOP` в параметре `list.placement` в ответе метода.                                                                                       |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                                                                                                                                                                                                                                                                                                                                                       | В ответе методов: <ul><li>пометили устаревшим значение `PLACEMENT_TAKEOVER` в параметре `placement`;</li><li>удалили значение `TAKEOVER` в параметре `productAutopilotStrategy`;</li><li>обновили описание параметра `advObjectType`.</li></ul>                                                                 |\n| [GET /api/client/limits/list](#operation/GetLimitsList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                    | Обновили описание параметра `limits.objectType` в ответе метода.<br>Добавили значение `CAMPAIGN_PLACEMENT_OVERTOP` в параметре `limits.placement` в ответе метода.<br>Обновили описание метода.                                                                                                                 |\n| [POST /api/client/campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                                                                                                                                                                                                                                                                                                                                                                                                                | Обновили описание параметров `products.isSearchPromoAvailable` и `products.searchPromoStatus` в ответе метода.<br>Изменили название метода.                                                                                                                                                                     |\n| [GET /api/client/statistics/{UUID}](#operation/StatisticsCheck)                                                                                                                                                                                                                                                                                                                                                                                                                                                            | Обновили описание параметра `kind` в ответе метода.                                                                                                                                                                                                                                                             |\n| [GET /api/client/statistics/list](#operation/ListReports)<br>[/api/client/statistics/externallist](#operation/ListReportsExternal)                                                                                                                                                                                                                                                                                                                                                                                         | Обновили описание параметра `items.meta.kind` в ответе методов.                                                                                                                                                                                                                                                 |\n| [GET /api/client/campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /api/client/statistics](#operation/SubmitRequest)                                                                                                                                                                                                                                                                                                                                                                                 | Обновили описание методов.                                                                                                                                                                                                                                                                                      |\n| [POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)<br>[POST /api/client/campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)<br>[POST /api/client/search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts)<br>[POST /api/client/search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) | Изменили название методов.                                                                                                                                                                                                                                                                                      |\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget)                                                                                                                                                                                                                                                                                                                                                                                                                                                     | В запросе метода:  <ul><li>пометили устаревшим значение `CAMPAIGN_PLACEMENT_TAKEOVER` в параметре `createCampaign.placement`;</li><li>удалили значение `TAKEOVER` в параметре `createCampaign.autopilotStrategy`;</li><li>удалили значение `TAKEOVER` в параметре `updateCampaign.autopilotStrategy`.</li></ul> |\n| —                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          | Изменили название раздела **Продвижение в поиске** на [**Оплата за заказ**](#tag/Search-Promo).                                                                                                                                                                                                                 |\n\n## 17 июля 2025\n\n| Метод                                                                  | Изменение                                               |\n|------------------------------------------------------------------------|---------------------------------------------------------|\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget) | Обновили описание параметра `skuPrice` в ответе метода. |\n\n## 10 июня 2025\n\n| Метод                                                          | Изменение                                               |\n|----------------------------------------------------------------|---------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns) | Добавили параметры `page` и `pageSize` в запрос метода. |\n\n## 17 апреля 2025\n\n| Метод                                              | Изменение                                                                                                                                                                                 |\n|----------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/min/sku](#operation/ExternalCampaign_BidBySKU) | Добавили новый метод для получения минимальной ставки для товаров по SKU.                                                                                                                 |\n| GET /api/client/campaign/{campaignId}/brand_shelf/{brandShelfId}                                                                                                                                                                 | Удалили метод из документации.                                                                                                                                                            | \n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                | Добавили параметр `autoIncreasePercent` в запрос методов.                                                                                                                                 |\n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Добавили параметры `autoIncrease.autoIncreasePercent`, `autoIncrease.isAutoIncreased`, `autoIncrease.autoIncreasedBudget`, `autoIncrease.recommendedAutoIncreasePercent` в ответ методов. |\n\n## 4 апреля 2025\n\n| Метод                                                              | Изменение                                                                   |\n|--------------------------------------------------------------------|-----------------------------------------------------------------------------|\n| [GET /api/client/statistics/report](#operation/DownloadStatistics) | Обновили описание метода. <br> Изменили структуру заголовков и тела ответа. |\n\n## 1 апреля 2025\n\n| Метод                                                                         | Изменение                 |\n|-------------------------------------------------------------------------------|---------------------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList) | Обновили описание метода. | \n\n## 25 марта 2025\n\n| Метод                                                                                                                                                                  | Изменение                                     |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------|\n| [POST /api/client/search_promo/get_cpo_min_bids](#operation/ExternalCampaign_GetCPOMinBids)                                                                            | Обновили название параметра в запросе метода. | \n\n## 3 марта 2025\n\n| Метод                                                                                                                                                                  | Изменение                                                                                                                                                   |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                      | Обновили описание параметров `placement` и `productAutopilotStrategy` в запросе метода.                                                                     | \n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Обновили описание параметров `placement` и `productAutopilotStrategy` в ответе методов.                                                                     |\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget)                                                                                                 | Обновили описание параметров `createCampaign.autopilotStrategy`, `createCampaign.placement` и `updateCampaign.autopilotStrategy.strategy` в запросе метода. |\n\n## 26 февраля 2025\n\n| Метод                                                                                                                                                                                                                  | Изменение                                                    |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------|\n| [POST /api/client/search_promo/bids/recommendation](#operation/ExternalCampaign_GetProductsRecommendedBids) <br> [POST /api/client/campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2) | Пометили методы устаревшими.                                 | \n| [POST /api/client/search_promo/get_cpo_min_bids](#operation/ExternalCampaign_GetCPOMinBids)                                                                                                                                         | Добавили метод для получения фиксированных ставок на товары. | \n\n## 20 января 2025\n\n| Метод                                 | Изменение                                                 |\n|---------------------------------------|-----------------------------------------------------------|\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget) | Добавили метод для расчёта минимального бюджета кампании. | \n\n## 9 января 2025\n\n| Метод                                                                                                                                              | Изменение                                                                |\n|----------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                  | Обновили описание параметра `productAutopilotStrategy` в запросе метода. |\n| [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                         | Удалили параметр `autopilot.skuAddMode` в запросе метода.                |\n\n## 28 ноября 2024\n\n| Метод                                                                      | Изменение                          |\n|----------------------------------------------------------------------------|------------------------------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList) | Добавили недельный бюджет в отчёт. |\n\n## 31 октября 2024\n\n| Метод                                                                                   | Изменение                                                |\n|-----------------------------------------------------------------------------------------|----------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)       | Удалили параметр `productCampaignMode` в запросе метода. |\n| [GET /api/client/statistics/campaign/media](#operation/MediaCampaignList) <br> [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList) | Обновили описание методов.                               |\n\n## 11 октября 2024\n\n| Метод                                                                                                                                                                  | Изменение                                                                                                        |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------|\n| [GET /api/client/statistics/externallist](#operation/ListReportsExternal)                                                                                              | Добавили метод для получения списка отчётов, сгенерированных через API.                                          |\n| [GET /api/client/statistics/list](#operation/ListReports)                                                                                                              | Обновили описание метода.                                                                                        |\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                   | Обновили значение `CAMPAIGN_STATE_STOPPED` параметра `state` в запросе и параметра `list.state` в ответе метода. |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)  | Обновили значение `CAMPAIGN_STATE_STOPPED` параметра `state` ответах методов.                                    |\n\n## 26 сентября 2024\n\n| Метод      | Изменение                                                                                                                   |\n|------------|-----------------------------------------------------------------------------------------------------------------------------|\n| Все методы | С 15 января 2025 года хост `performance.ozon.ru` перестаёт работать. Перейдите на новый хост <br>`api-performance.ozon.ru`. |\n\n## 3 сентября 2024\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                             | Изменение                                                                                                                                                  |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| GET /campaign/{campaignId}/products                                                                                                                                                                                                                                                                                                                                                               | Метод устарел, удалили его из документации. Используйте [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2).                                |\n| POST /campaign/{campaignId}/search_promo/products                                                                                                                                                                                                                                                                                                                                                 | Метод устарел, удалили его из документации. Используйте [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2).  |\n| POST /campaign/{campaignId}/search_promo/bids/set                                                                                                                                                                                                                                                                                                                                                 | Метод устарел, удалили его из документации. Используйте [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2).       |\n| POST /campaign/cpc/product                                                                                                                                                                                                                                                                                                                                                                        | Метод устарел, удалили его из документации. Используйте [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2).                            |\n| POST /campaign/{campaignId}/search_promo/bids/delete                                                                                                                                                                                                                                                                                                                                              | Метод устарел, удалили его из документации. Используйте [POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2). |\n| POST /campaign/cpm/v2/product <br/> PATCH /campaign/{campaignId}/brand_shelf/{brandShelfId}                                                                                                                                                                                                                                                                                                       | Методы устарели, удалили их из документации.                                                                                                               |\n| [POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2) <br/> [POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) <br/> [POST /search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts) <br/> [POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2) | В описании методов добавили, что в одном запросе можно передать максимум 1000 товаров.                                                                     |\n\n## 29 августа 2024\n\n| Метод/раздел                                                                                                                                     | Описание                                                                                                |\n|--------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------|\n| [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                           | Обновили описание параметра `productAutopilotStrategy` в запросе метода.                                |\n| [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Обновили в ответе метода описание парамеров: `advObjectType`, `placement` и `productAutopilotStrategy`. |\n| [GET /campaign](#operation/ListCampaigns)                                                                                                        | Обновили описание парамера `advObjectType` в запросе метода.                                            |\n| [GET /campaign/{campaignId}/objects](#operation/ListCampaignObjects)                                                                             | Обновили описание метода.                                                                               |\n| [GET /limits/list](#operation/GetLimitsList)                                                                                                     | Обновили описание метода и параметров в ответе: `limits.objectType` и `limits.placement`.                             |\n| [GET /statistics/campaign/product](#operation/ProductCampaignList) <br/> [GET /statistics/campaign/media](#operation/MediaCampaignList)                                                                        | Обновили примеры запросов.                                                                              |\n| [Трафареты и Вывод в топ](#tag/Ad) <br> [Товары в Трафаретах и Выводе в топ](#tag/Product)                                                       | Обновили названия разделов.                                                                             | \n\n## 15 августа 2024\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | Изменение                                                                                         |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------|\n| [POST /campaign/{campaignId}/products ](#operation/AddProducts) <br> [PUT /campaign/{campaignId}/products](#operation/UpdateProducts) <br> [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2) <br> [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2) <br> [POST /search_promo/bids/recommendation](#operation/ExternalCampaign_GetProductsRecommendedBids) <br> [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2)  | В параметрах `bid`, `bids` и `SKU*` уточнили, что ставка применяется только к заказам или кликам. |\n\n## 7 августа 2024\n\n| Метод                                                                                                                                                                                                       | Изменение                                                                                                                                                                                                        |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| POST /campaign/{campaignId}/v2/activate <br> POST /campaign/{campaignId}/v2/deactivate                                                                                                                      | Методы не использовались, удалили их из документации. Используйте [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) и [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign). |\n| [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                                                            | Убрали отметки, что методы устарели.                                                                                                                                                                             |\n| [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2) <br> [POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) | Обновили параметры ответа методов.                                                                                                                                                                               |\n| POST /campaign/{campaignId}/search_promo/bids/reset                                                                                                                                                         | Метод устарел, удалили его из документации.                                                                                                                                                                      |\n\n## 22 июля 2024\n\n| Метод                                                                                                                                                                                                                                                | Описание                                            |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------|\n| POST /campaign/cpc/product  <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign) | Добавили параметр `weeklyBudget` в запросы методов. |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [GET /campaign](#operation/ListCampaigns)                    | Добавили параметр `weeklyBudget` в ответы методов.  |\n\n## 3 июля 2024\n| Метод                                                                                                           | Описание                                    |\n|-----------------------------------------------------------------------------------------------------------------|---------------------------------------------|\n| POST /campaign/cpm/product                                                                           | Метод устарел, удалили его из документации. | \n| POST /campaign/cpm/v2/product                               | Пометили метод устаревшим.                  | \n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) | Обновили описания методов.                  |\n\n## 1 июля 2024\n\n| Метод                                                                                                                                                                                                                                             | Описание                                                           |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| GET /campaign/{campaignId}/brand_shelf/{brandShelfId} <br> PATCH /campaign/{campaignId}/brand_shelf/{brandShelfId}                                                                                                                                | Брендовая полка перестала работать, пометили методы устаревшими.   | \n| [GET /limits/list](#operation/GetLimitsList) <br> [GET /campaign/{campaignId}/objects](#operation/ListCampaignObjects) <br> [POST /statistics](#operation/SubmitRequest) <br> [POST /statistics/attribution](#operation/AttributionSubmitRequest) | Убрали упоминание брендовой полки в описании методов и параметров. | \n\n## 23 мая 2024\n\n| Метод                                                                                                                                                                                                                                                    | Описание                                                                  |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------|\n| POST /campaign/cpm/v2/product <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign ) | Удалили параметр `expenseStrategy` в запросе метода.                      | \n| [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                                                                                                        | Дополнили описание параметра `productAutopilotStrategy` в запросе метода. |\n| [GET /campaign](#operation/ListCampaigns)                                                                                                                                                                                                     | Дополнили описание параметра `list.placement` в ответе метода.            |\n| POST /campaign/cpm/v2/product                                                                                                                                                                         | Дополнили описание параметра `placement` в запросе метода.                |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2)                                                                          | Дополнили описание параметра `productAutopilotStrategy` в ответе метода.  |\n\n## 26 апреля 2024\n\n| Метод     | Описание                                       |\n|-----------|------------------------------------------------|\n| [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2) | Добавили параметр `products.isSearchPromoAvailable` в ответ метода. | \n\n## 22 апреля 2024\n\n| Метод                                                                                                        | Описание                                                                                                                    |\n|--------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------|\n| POST /campaign/cpm/v2/product  <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) | В запросе метода:<br>• удалили параметр `autopilot`;<br>• изменили значение по умолчанию у параметра `productCampaignMode`. | \n| [POST /statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)                           | Добавили метод для получения отчёта по заказам в оплате за заказ.                                                           | \n| [POST /statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)                       | Добавили метод для получения отчёта по товарам в оплате за заказ.                                                           | \n\n## 19 марта 2024\n\n| Метод                                                   | Описание                                                                                                                                                                                                        |\n|---------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /limits/list](#operation/GetLimitsList) | Добавили метод для получения:<br>• минимальных и максимальных ставок для «Оплаты за заказ», «Трафаретов» и «Брендовой полки»;<br>• минимальных ставок по категориям товаров в «Оплате за заказ» и «Трафаретах». | \n\n## 5 марта 2024\n\n| Метод                                                                                            | Описание                                                                                                                                    |\n|--------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------|\n| [PUT /campaign/{campaignId}/products](#operation/UpdateProducts)                                 | Обновили описание метода.                                                                                                                   | \n| [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2) | Обновили описание параметра `page` в запросе.                                                                                               |\n| —                                                                                                | В разделе [**Лимиты на запросы**](#tag/Limits) повысили лимиты до 2000 на количество выгрузок за 24 часа с аккаунта и в рамках организации. |\n\n## 22 февраля 2024\n\n| Метод                                                                                         | Описание                                                                                                             |\n|-----------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|\n| GET /campaign/{campaignId}/products                                 | Пометили метод устаревшим. Используйте [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2).           | \n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)                             | Пометили метод устаревшим.        |\n| POST /campaign/cpc/product                             | Пометили метод устаревшим. Используйте [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2).       |\n| [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign)                           | Пометили метод устаревшим. Используйте [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2).     |\n| [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                       | Пометили метод устаревшим. Используйте [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2). |\n| [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2)                            | Добавили новый метод для получения списка товаров кампании.                                                          |\n| POST /campaign/cpm/v2/product                        | Добавили новый метод для создания кампании с оплатой за показы.                                                      |\n| [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                        | Добавили новый метод для создания кампании с оплатой за клики.                                                       |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2)                      | Добавили новый метод для активации кампании.                                                                         |\n| [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2)                  | Добавили новый метод для выключения кампании.                                                                        |\n| [GET /campaign/{campaignId}/products/bids/competitive](#operation/GetProductsCompetitiveBids) | Добавили новый метод для получения конкурентных ставок для товара в Трафаретах.                                      |\n\n## 26 января 2024\n\n| Метод                                                                                                                                                                                                                                                          | Описание                                                                               |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------|\n| POST /campaign/{campaignId}/search_promo/products <br> POST /campaign/{campaignId}/search_promo/bids/set <br> [POST /campaign/{campaignId}/search_promo/bids/reset](#operation/ResetSearchPromoBids) <br> POST /campaign/{campaignId}/search_promo/bids/delete | Пометили методы устаревшими, используйте новые методы для управления оплатой за заказ. | \n| [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                                                                                                                                                               | Добавили метод для получения списка товаров из оплаты за заказ.                        | \n| [POST /search_promo/bids/recommendation](#operation/ExternalCampaign_GetProductsRecommendedBids)                                                                                                                                                               | Добавили метод для получения рекомендованных ставок для товаров из оплаты за заказ.    | \n| [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2)                                                                                                                                                                    | Добавили метод для установки ставок на оплату за заказ для товаров.                    | \n| [POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts)                                                                                                                                                                           | Добавили метод для включения оплаты за заказ для товара.                               | \n| [POST /search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts)                                                                                                                                                                         | Добавили метод для отключения оплаты за заказ для товара.                              | \n| [POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)                                                                                                                                                              | Добавили метод для удаления товаров из оплаты за заказ.                                | \n\n## 17 января 2024\n\n| Метод                                                                                                                                                                                                                                                                       | Описание                                                                                                                  | \n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------|\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)<br>POST /campaign/cpc/product                                                                                                                                      | Обновили описания методов. Удалили параметр `productCampaignMode` из запросов методов.                                    |\n| [POST /campaign/{campaignId}/products](#operation/AddProducts)                                                                                                                                                                                                              | Обновили описание метода. Удалили параметры `phrases`, `groupId` и `stopWords` из запроса метода.                         |\n| [PUT /campaign/{campaignId}/products](#operation/UpdateProducts)                                                                                                                                                                                                            | Удалили параметры `phrases`, `groupId` и `stopWords` из запроса метода.                                                   |\n| GET /campaign/{campaignId}/products                                                                                                                                                                                                               | Удалили параметры `phrases`, `groupId` и `stopWords` из ответа метода.                                                    |\n| [GET /campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /statistics/attribution](#operation/AttributionSubmitRequest)<br>[POST /statistics](#operation/SubmitRequest)<br>[POST /statistics/video](#operation/VideoCampaignsSubmitRequest)  | Обновили описания методов.                                                                                                |\n| —                                                                                                                                                                                                                                                                           | Раздел **Лимиты на ставки** устарел, удалили его из документации.                                                         |\n| GET /campaign/available<br>POST /campaign/{campaignId}/group<br>GET /campaign/{campaignId}/group/{groupId}<br>PUT /campaign/{campaignId}/group/{groupId}<br>POST /statistics/phrases                                                                                        | Методы устарели, удалили их из документации.                                                                              |\n| PUT /campaign/{campaignId}/period<br>PUT /campaign/{campaignId}/daily_budget                                                                                                                                                                                                | Методы устарели, удалили их из документации. Используйте [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign). |\n\n## 21 декабря 2023\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          | Описание                                                       |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------|\n| [POST /statistics/](#operation/SubmitRequest) <br> [POST /statistics/video](#operation/VideoCampaignsSubmitRequest) <br> [POST /statistics/attribution](#operation/AttributionSubmitRequest) <br> [GET /statistics/campaign/media](#operation/MediaCampaignList) <br> [GET /statistics/campaign/product](#operation/ProductCampaignList) <br> [GET /statistics/daily](#operation/GetCampaignDailyStats) <br> [GET /statistics/expense](#operation/GetCampaignExpense) | Добавили в описание методов информацию о JSON-формате отчётов. |\n\n\n## 20 октября 2023\n\n| Метод                                                                          | Описание                                                                                                                                                           |\n|--------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                              | Обновили заголовки разделов: «Товарные рекламные кампании» на [**Трафареты**](#tag/Ad) и «Товары в рекламной кампании» на [**Товары в Трафаретах**](#tag/Product). |\n| [GET /campaign](#operation/ListCampaigns)                            | Обновили описание параметра `advObjectType` в запросе метода. Добавили параметр `PaymentType` в ответ метода.                                                      |\n\n## 10 апреля 2023\n\n| Метод                                                       | Описание                                      |\n|-------------------------------------------------------------|-----------------------------------------------|\n| [POST /statistics/phrases](#operation/PhrasesSubmitRequest) | Удалили параметр `groupBy` из запроса метода. |\n\n## 3 ноября 2022\n\n| Метод                                                                                  | Описание                                                                                                                                                                                                                           |\n|----------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                                      | Обновили [лимиты на ставки](#tag/LimitsBids) и добавили метод оплаты «Клики» для кампаний с размещением в «Карточке товара и категории».                                                                                           |\n| POST /campaign/cpc/product                      | Добавили метод для создания рекламных кампаний с оплатой за клики.                                                                                                                                                                 |\n| [POST /campaign/{campaignId}/products](#operation/AddProducts)                         | В описание метода добавили рекомендации по добавлению товаров в кампании с оплатой за клики.                                                                                                                                       |\n| [PUT /campaign/{campaignId}/daily_budget](#operation/UpdateProductCampaignDailyBudget) | Из запроса метода убрали параметры `fromDate` и `toDate`.                                                                                                                                                                          |\n| [PUT /campaign/{campaignId}/period](#operation/UpdateProductCampaignPeriod)            | Из запроса метода убрали параметр `dailyBudget`.                                                                                                                                                                                   |\n| [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign)                        | В запрос метода добавили параметр `autopilot` для передачи информации о кампаниях с включённой автостратегией. <br> Изменили описание параметра `budget`.                                                                          |\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)                      | В запрос метода добавили параметр `autopilot.skuAddMode` для включения автоматического добавления товаров в кампании. <br> В запросе метода обновили описание параметра `toDate`. <br> В запрос метода добавили параметр `budget`. |\n| [GET /campaign](#operation/ListCampaigns)                                              | В ответ метода добавили поле `autopilot.skuAddMode` для получения информации об автоматическом добавления товаров в кампании.                                                                                                      |\n\n## 5 сентября 2022\n\n| Метод                                                                                                                                                                                      | Описание                                                                                                               |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\n| [GET /campaign](#operation/ListCampaigns)<br>[POST /campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | Добавили поля с информацией об автостратегиях `productAutopilotStrategy` и `autopilot` в ответы методов.               |\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)                                                                                                                          | Добавили параметры `productAutopilotStrategy` и `autopilot` для передачи информации об автостратегиях в запрос метода. |\n| [POST /campaign/{campaignId}/products](#operation/AddProducts)<br>[PUT /campaign/{campaignId}/products](#operation/UpdateProducts)                                                         | Добавили ограничения при работе с кампаниями с включённой автостратегией в описания методов.                           |\n\n## 2 сентября 2022\n\n| Метод | Описание |\n|-------|----------|\n| GET /campaign/{campaignId}/products | Добавили в ответ поля: <br>• `categories.bid` —  ставка на категорию,<br>• `categories.categoryId` — идентификатор категории,<br>• `title` — название товара. |\n\n## 30 августа 2022\n\n| Метод | Описание |\n|-------|----------|\n| [POST /statistics/video](#operation/VideoCampaignsSubmitRequest) | Добавили метод для получения статистики по показам видеобаннера. |\n\n## 22 августа 2022\n\n| Метод | Описание |\n|-------|----------|\n| [GET /organisation/vendor_tag](#operation/GetVendorTag)  | Добавили метод для получения меток организации для внешних рекламных кампаний.  |\n\n## 11 августа 2022\n\n| Метод | Описание |\n|-------|----------|\n| [GET /statistics/report](#operation/DownloadStatistics)  | Добавили описание ошибки некорректного UUID в ответ метода. |\n\n## 10 августа 2022\n\n| Метод | Описание |\n|-------|----------|\n| [GET /statistics/{UUID}](#operation/StatisticsCheck) <br> [GET /statistics/list](#operation/ListReports) | Добавили значение для поля `kind` в ответах методов. |\n\n## 5 августа 2022\n\n| Метод | Описание |\n|-------|----------|\n| [GET /campaign/{campaignId}/group/{groupId}](#operation/GetGroup)  | Добавили метод для получения информации о группе.  |\n\n## 18 июля 2022\n\n| Метод | Описание                                                                                       |\n|-------|------------------------------------------------------------------------------------------------|\n| —     | Обновили максимальную ставку на оплату за заказ в разделе [Лимиты на ставки](#tag/LimitsBids). |\n\n## 15 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM) | Обновили описание параметра `productCampaignMode` в запросе. |\n| [POST /campaign/{campaignId}/products](#operation/AddProducts)  | Обновили описание метода.    |\n\n## 14 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM) | Обновили описание метода. Добавили параметр `productCampaignMode` и обновили описание параметра `placement` в запросе. |\n| [POST /campaign/{campaignId}/products](#operation/AddProducts) | Обновили описание метода. Обновили описание параметра `bids.bid` в запросе метода. |\n| [PUT /campaign/{campaignId}/products](#operation/UpdateProducts) | Обновили описание метода. |\n| [GET /campaign](#operation/ListCampaigns) | Обновили описание параметра `advObjectType` в запросе. Добавили поле `productCampaignMode` в ответ метода. |\n| [POST /campaign/{campaignId}/group](#operation/CreateGroup) <br> [PUT /campaign/{campaignId}/group/{groupId}](#operation/UpdateGroup) <br> [POST /statistics/phrases](#operation/PhrasesSubmitRequest) | Обновили описания методов. |\n| [GET /campaign/available](#operation/GetAvailableProductCampaignModes) | Добавили метод для получения доступных режимов создания рекламных кампаний. |\n\n## 11 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| — | Добавили раздел [Лимиты на ставки](#tag/LimitsBids). |\n\n## 8 июля 2022\n\n| Метод                                                 | Описание |\n|-------------------------------------------------------|----------|\n| GET /campaign/{campaignId}/brand_shelf/{brandShelfId} | Добавили поля `targetDeepLink` и `bids.bidMicros` в ответ метода. Уточнили возвращаемые значения для поля `image.format` в ответе.  Обновили описание полей `bids.bid` и `searchBids.bid` в ответе. |\n| PATCH /campaign/{campaignId}/brand_shelf/{brandShelfId} | Убрали поле `searchBids.relevanceStatus` из запроса метода.                                                                                                                                         |\n\n\n## 7 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| [POST /vendors/statistics](#operation/VendorStatisticsSubmitRequest) | Добавили метод для запуска формирования отчёта с аналитикой внешнего трафика.        |\n| [GET /vendors/statistics/list](#operation/VendorStatisticsListReports) | Добавили метод для получения всех запрошенных отчётов с аналитикой внешнего трафика. |\n| [GET /vendors/statistics/{UUID}](#operation/VendorStatisticsCheck) | Добавили метод для получения информации об отчёте с аналитикой внешнего трафика.     |\n\n\n## 5 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| POST /campaign/{campaignId}/search_promo/products<br/><br/>POST /campaign/{campaignId}/search_promo/bids/delete | Обновили описание методов. | \n\n## 4 июля 2022\n\n| Метод | Описание |\n|-------|----------|\n| [POST /statistics](#operation/SubmitRequest) <br> [POST /statistics/phrases](#operation/PhrasesSubmitRequest) <br> [POST /statistics/attribution](#operation/AttributionSubmitRequest) | Изменили максимальный период, за который можно получить отчёт, в параметрах запроса `to` и `from`. |\n\n## 30 июня 2022\n\n| Метод | Описание                                        |\n|-------|----------|\n| [GET /statistics/{UUID}](#operation/StatisticsCheck) | Добавили поле `kind` в ответ и пример метода.   |\n| [POST /statistics](#operation/SubmitRequest) | Добавили поле `vendor` в ответ и пример метода. |\n\n## 28 июня 2022\n\n| Метод | Описание |\n|-------|----------|\n| POST /campaign/cpc/product | Метод устарел, удалили его из документации. |\n| — | Теперь получить `client_id` и `client_secret` можно в личном кабинете продавца. Добавили инструкцию в [документацию](#tag/Intro). |\n\n## 27 июня 2022\n\n| Метод | Описание |\n|-------|----------|\n| [PUT /campaign/{campaignId}/daily_budget](#operation/UpdateProductCampaignDailyBudget) | Исправили описание к параметру `dailyBudget` в запросе. |\n\n## 2 июня 2022\n\n| Метод | Описание |\n|-------|----------|\n| —     | Добавили раздел [Лимиты на запросы](#tag/Limits). |\n\n\n## 27 сентября 2021\n\n| Метод | Описание                                                                             |\n|-------|--------------------------------------------------------------------------------------|\n| —     | Добавили раздел [Список методов](#tag/List).                                         |\n| —     | Поменяли название раздела «Начало работы» на «[Введение](#operation/ListCampaigns)». |\n|       | Поменяли название раздела «Получить токен» на «[Как получить API-ключ](#tag/Token)». |"},{"name":"Campaign","x-displayName":"Кампании и рекламируемые объекты"},{"name":"Statistics","x-displayName":"Статистика","description":"<aside class=\"notice\">\nДаты в отчётах рекламного кабинета группируются по московскому времени.\n</aside>\n\nДля получения отчёта кампании:\n1. Отправьте запрос на генерацию отчёта.\n2. Получите сгенерированный отчёт по UUID запроса.\n"},{"name":"Ad","x-displayName":"Оплата за клик"},{"name":"Product","x-displayName":"Товары в Оплате за клик"},{"name":"Search-Promo","x-displayName":"Оплата за заказ"},{"name":"Vendor","x-displayName":"Аналитика внешнего трафика"}],"paths":{"/api/client/campaign":{"get":{"tags":["Campaign"],"summary":"Список кампаний","operationId":"ListCampaigns","parameters":[{"name":"campaignIds","description":"Список идентификаторов кампаний, для которых необходимо вывести информацию.\n\nЕсли передать значение, то в ответе будет информация по кампаниям, которые указаны\nв поле `campaigns`. Если поле пустое, информация будет отдана по всем кампаниям.\n","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uint64"}}},{"name":"advObjectType","description":"Тип рекламируемой кампании:\n- `SKU` — Оплата за клик;\n- `BANNER` — Баннерная рекламная кампания;\n- `SEARCH_PROMO` — Оплат
[...]
